@import "tailwindcss";

@theme inline {
    /* 🎨 Кольори */
    --color-ivory: #fffff0;
    --color-black: #151515;
    --color-grey: #737373;
    --color-emerald: #065d43;
    --color-white: #fffff6;
    --color-white-100: #ffffff;
    --color-grey-90: #a6a6a6;
    --color-grey-70: #dddddd;
    --color-green-100: #2f7d31;
    --color-green-20: #cddfd9;
    --color-green-10: #f5f9f7;
    --color-error: #900b09;

    /* 🔠 Шрифти */
    --font-oswald: var(--font-oswald);
    --font-arimo: var(--font-arimo);

    /* 📱 Breakpoints */
    --breakpoint-tab: 768px;
    --breakpoint-pc: 1440px;
}

body {
    background-color: var(--color-ivory);
    color: var(--color-black);
    font-family: var(--font-arimo);
}

@layer components {
    .content {
        @apply tab:px-6 pc:px-12 tab:max-w-full max-w-[540px] px-4;
    }
}
