@import "tailwindcss";

@theme inline {
    /* 🎨 Кольори */
    --color-ivory: #fffff0;
    --color-black: #151515;
    --color-grey: #737373;
    --color-emerald: #065d43;
    --color-white: #fffff6;
    --color-white-100: #ffffff;
    --color-grey-90: #a6a6a6;
    --color-grey-70: #dddddd;
    --color-green-100: #2f7d31;
    --color-green-20: #cddfd9;
    --color-green-10: #f5f9f7;
    --color-error: #900b09;
    --color-light-logo: #f9f9f9;

    /* 🔠 Шрифти */
    --font-oswald: var(--font-oswald);
    --font-arimo: var(--font-arimo);

    /* 📱 Breakpoints */
    --breakpoint-tab: 768px;
    --breakpoint-pc: 1440px;

    /* 🪞 Тіні */
    --shadow-button: 4px 4px 0 0 var(--color-black);
    --shadow-button-ivory: 4px 4px 0 0 var(--color-ivory);
}

body {
    background-color: var(--color-ivory);
    color: var(--color-black);
    font-family: var(--font-arimo);
}

@layer components {
    .content {
        @apply tab:px-6 pc:px-12 tab:max-w-full mx-auto max-w-[540px] px-4;
    }

    .slider-dot {
        @apply m-0 inline-flex h-3 w-3 cursor-pointer appearance-none rounded-xs border border-black bg-transparent p-0;
    }
    .slider-dot--selected {
        @apply justify-center bg-black;
    }
    .slider-dot-ivory {
        @apply border-ivory m-0 inline-flex h-3 w-3 cursor-pointer appearance-none rounded-xs border bg-transparent p-0;
    }
    .slider-dot-ivory--selected {
        @apply bg-ivory justify-center;
    }
}

button,
a {
    cursor: pointer;
}
.link-gradient {
    @apply transition-all duration-500;
    background: none;
}

.link-gradient:hover {
    background: linear-gradient(
        -10deg,
        #023f2c 0%,
        #09684b 21%,
        #0b7556 35%,
        #08654a 52%,
        #003626 83%
    );
}

.subtitle {
    @apply font-oswald text-grey tab:text-base text-sm leading-none font-medium uppercase;
}
.subtitle-ivory {
    @apply font-oswald text-ivory tab:text-base text-sm leading-none font-medium uppercase;
}

.title-section {
    @apply font-oswald tab:text-4xl pc:text-5xl text-[28px] leading-none text-black;
}
.title-section-ivory {
    @apply font-oswald tab:text-4xl pc:text-5xl text-ivory text-[28px] leading-none;
}

.green-gradient {
    background: linear-gradient(
        -45deg,
        #023f2c 0%,
        #09684b 21%,
        #0b7556 35%,
        #08654a 52%,
        #003626 83%
    );
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow: auto; /* або overflow-x/y */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* * {
    outline: 1px solid red;
} */
