/*Цвет кнопки GetCall : */

body
    #bingc-phone-button
    svg.bingc-phone-button-circle
    circle.bingc-phone-button-circle-inside {
    fill: #065d43 !important;
}

body
    #bingc-phone-button:hover
    svg.bingc-phone-button-circle
    circle.bingc-phone-button-circle-inside {
    fill: #065d43 !important;
}
body
    #bingc-phone-button
    svg.bingc-phone-button-circle
    circle.bingc-phone-button-circle-outside {
    fill: #fffff6 !important;
    fill-opacity: 0.5 !important;
}

/* Цвет выпадающего комментария при наведении на кнопку GetCall: */

body #bingc-phone-button div.bingc-phone-button-tooltip {
    background: #065d43 !important;
}

body
    #bingc-phone-button
    div.bingc-phone-button-tooltip
    svg.bingc-phone-button-arrow
    polyline {
    fill: #065d43 !important;
}

/*Цвет фона пассивной/активной формы: */

body #bingc-passive > div.bingc-passive-overlay {
    background: #dddddc !important;
}
body #bingc-active {
    background: #fffff6 !important;
}
/*Цвет фона кнопки "Перезвоните" на пассивной/активной форме: */

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    a.bingc-passive-phone-form-button {
    background: #0a7052 !important;
}

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    a.bingc-passive-phone-form-button:hover {
    background: #06412f !important;
}

/*Цвет фона окна “введения номера” на пассивной/активной форме и цвет вводимого текста:*/

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    input.bingc-passive-get-phone-form-input {
    color: #000000 !important;
    font-weight: 500;
    background: #ffffff !important;
}

body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-active-get-phone-form
    form.bingc-active-get-phone-form
    input.bingc-active-get-phone-form-input {
    color: #000000 !important;
    font-weight: 500;
    background: #ffffff !important;
}

/*Изменение цвета фона выпадающих списков дней и времени перезвона в нерабочее время в пассивной/активной формах GetCall:*/
/* body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-active-get-phone-form
    form.bingc-active-get-phone-form
    div.bingc-active-get-phone-form-date-selection
    div.bingc-active-date-selection-select-hour:hover,
#bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-active-get-phone-form
    form.bingc-active-get-phone-form
    div.bingc-active-get-phone-form-date-selection
    div.bingc-active-date-selection-select-minutes:hover {
    background: #065d43 !important;
}
body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-active-get-phone-form
    form.bingc-active-get-phone-form
    div.bingc-active-get-phone-form-date-selection
    div.bingc-active-date-selection-select-hour,
#bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-active-get-phone-form
    form.bingc-active-get-phone-form
    div.bingc-active-get-phone-form-date-selection
    div.bingc-active-date-selection-select-minutes {
    background: #065d43 !important;
}
body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-active-get-phone-form
    form.bingc-active-get-phone-form
    div.bingc-active-get-phone-form-date-selection
    div.bingc-active-date-selection-select-hour
    div.bingc-active-date-selection-select-hour-list-of-hours-container
    ul.bingc-active-date-selection-select-hour-list-of-hours
    li:hover {
    background: #065d43 !important;
}
body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-active-get-phone-form
    form.bingc-active-get-phone-form
    div.bingc-active-get-phone-form-date-selection
    div.bingc-active-date-selection-select-minutes
    div.bingc-active-date-selection-select-minutes-list-of-minutes-container
    ul.bingc-active-date-selection-select-minutes-list-of-minutes
    li:hover {
    background: #065d43 !important;
}
body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-we-will-call-you.bingc-offline-form
    div.bingc-active-date-selection-select-day:hover {
    background: #065d43 !important;
}
#bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-we-will-call-you.bingc-offline-form
    div.bingc-active-date-selection-select-day
    div.bingc-active-date-selection-select-day-list-of-days-container
    ul.bingc-active-date-selection-select-day-list-of-days
    li:hover {
    background: #065d43 !important;
} */

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-hour,
body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-minutes {
    background: #065d43 !important;
    color: #fff !important;
}
body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-hour:hover,
body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-minutes:hover {
    background: #06412f !important;
    color: #fff !important;
}

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-hour
    div.bingc-passive-date-selection-select-hour-list-of-hours-container
    ul.bingc-passive-date-selection-select-hour-list-of-hours
    li:hover,
body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-minutes
    div.bingc-passive-date-selection-select-minutes-list-of-minutes-container
    ul.bingc-passive-date-selection-select-minutes-list-of-minutes
    li:hover {
    background: #06412f !important;
    color: #fff !important;
}
body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-day:hover {
    background: #06412f !important;
    color: #fff !important;
}

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-passive-get-phone-form
    form.bingc-passive-get-phone-form
    div.bingc-passive-get-phone-form-date-selection
    div.bingc-passive-date-selection-select-day
    div.bingc-passive-date-selection-select-day-list-of-days-container
    ul.bingc-passive-date-selection-select-day-list-of-days
    li:hover {
    background: #06412f !important;
    color: #fff !important;
}

/*Изменения цвета текста на активной и пассивной форме GetCall*/

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-we-will-call-you
    div.bingc-we-will-call-you-alignment
    div.bingc-we-will-call-you-restriction {
    color: #151515 !important;
}

body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-we-will-call-you {
    color: #151515 !important;
}

body
    #bingc-active
    div.bingc-active-overlay
    div.bingc-active-content
    div.bingc-we-will-call-you
    span {
    color: #151515 !important;
}

body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-we-will-call-you
    span.small-text {
    color: #000 !important;
}
body
    #bingc-passive
    div.bingc-passive-overlay
    div.bingc-passive-content
    div.bingc-we-will-call-you.bingc-offline-form {
    color: #000 !important;
}

body #bwc-widget-action button.bwc-get-call {
    display: none !important;
}
